*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(
        135deg,
        #eeece8,
        #e4e2de,
        #f0efed
    );
    background-color: #f0efed;
    min-height: 100vh;
}

/* NAVBAR */

.navbar{
    position:sticky;
    top:0;
    z-index:1000;
}

/* ABOUT SECTION */

.about-section{
    padding:80px 0;
}

.about-box{
    background:white;
    padding:30px;
    border-radius:12px;
    text-align:center;
    transition:0.3s;
    height:100%;
}

.about-box:hover{
    transform:translateY(-5px);
}

.about-icon{
    font-size:40px;
    color:#0d6efd;
    margin-bottom:20px;
}

.about-box h3{
    margin-bottom:15px;
    font-weight:bold;
}

.about-box p{
    color:#555;
    line-height:1.7;
}

.about-image{
    max-height:450px;
    object-fit:cover;
}

/* FOOTER */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

footer a{
    color:white;
    text-decoration:none;
}

footer a:hover{
    color:#0d6efd;
}

.social-icons{
    margin:15px 0;
}

.social-icons a{
    color:white;
    font-size:24px;
    margin:0 10px;
    transition:0.3s;
}

.social-icons a:hover{
    color:#0d6efd;
}

/* MOBILE */

@media(max-width:768px){

    .about-section{
        text-align:center;
    }

}